body {
    padding-top: 60px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

#svg {
    margin-bottom: 10px;
}

#maskbuttons {
    margin-bottom: 10px;
}

.navbar-inverse .navbar-brand {
    color: #CC5200;
}

.table {
    margin-bottom: 0;
}